# LaTeX Residual Files #
########################
Z_BLAND_PAPER-knitr.log
Z_BLAND_PAPER-knitr.pdf
Z_BLAND_PAPER-knitr.synctex.gz
Z_BLAND_PAPER-knitr-concordance.tex
Z_BLAND_PAPER-knitr.tex
Z_BLAND_PAPER-knitr-concordance.log
Z_BLAND_PAPER-old-sweave.log
Z_BLAND_PAPER-old-sweave.pdf
Z_BLAND_PAPER-old-sweave.synctex.gz
Z_BLAND_PAPER-old-sweave-concordance.tex
Z_BLAND_PAPER-old-sweave.tex

# LaTeX Figure Stuff #
######################
/PAPER/figure